<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/components/bootstrap-additions/dist/bootstrap-additions.css">
    <link rel="stylesheet" href="/components/angular-motion/dist/angular-motion.css">
    <!--  <script type="text/javascript">
    window.onload = function() {
        setTimeout(function() {
            var loading = document.getElementById("loading");
            loading.parentNode.removeChild(loading);
            document.getElementById('hidden-dive').className = "";
        }, 1200);
    }
    </script> -->
</head>

<body>
    <div id="loading" class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
    </div>

    <div class="container" data-ng-view>
    </div>
    
</body>
<script src="/components/requirejs/require.js" data-main="/javascripts/main.js"></script>
</html>
