<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/components/angular-motion/dist/angular-motion.css">
    <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/components/bootstrap-additions/dist/bootstrap-additions.css">
    <style type="text/css">
    body {
        padding-top: 50px;
        font-family: '微软雅黑'
    }
    
    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }
    
    .index-list {
        padding: 18px;
    }
    
    .hide-overflow-text {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    </style>
</head>

<body>
    <!--div class="bgg"></div-->
    <nav class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/#/index"><span class="glyphicon glyphicon-apple" aria-hidden="true"></span>少年派</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav pc-navbar-nav">
                    <li class="active"><a href="/#/index">首页</a></li>
                    <li><a href="#list">我的文章</a></li>
                    <li><a href="#about">关于我</a></li>
                    <li><a href="#contact">balabala</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div data-ng-view>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
               模态框（Modal）标题
            </h4>
                </div>
                <div class="modal-body">
                    在这里添加一些文本
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
</body>
<script src="/components/requirejs/require.js" data-main="/javascripts/main.js"></script>

</html>
